import * as React from "react";
import { Header, Icon, Container, Segment } from "semantic-ui-react";
import {withLayout} from "../components/Layout";

export default withLayout(
  () =>
  <Container centered>
    <Segment verticle>
      <Header as="h1">
        <Icon name="configure" size="huge"/>
        <Header.Content>{{pascalCase name}}</Header.Content>
      </Header>
    </Segment>
  </Container>
);
